* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
:root {
  --clr: #f5b657;
}

.wrapper > * {
  margin: 0 auto;
}

button {
  padding: 0.5em 1em;
  width: 5rem;
  height: 3rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.canvas-container {
  border: 1px solid #333;
}

.canvas {
  --size: 600px;
  width: var(--size);
  height: var(--size);

  display: flex;
  flex-wrap: wrap;
}

button[data-color="random"] {
  width: 7rem;
}
