:root {
  --clr-primary: #263238;
  --clr-secondary: #039be5;
  --clr-secondary-2: #03a9f4;
  --clr-accent: #80deea;
}

html {
  color: var(--clr-accent);
  background-color: var(--clr-secondary-2);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

.board,
.sidebar {
  padding: 0.5rem;
}

.board {
  width: 498px;
  box-shadow: 0 0 5px #333;
  height: 498px;
  background-color: #fff;
}

.sidebar {
  height: 498px;
  width: 15rem;
}

.sidebar .colors button {
  position: relative;
}

button {
  background: var(--clr-accent);
  border: none;
  border-radius: 5px;
}

.active-color::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  inset: 0;
  color: #fff;
  border: 2px solid;
}

.sidebar {
  background-color: var(--clr-primary);
}

.sidebar .colors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
  gap: 0.2rem;
  padding: 0.3rem;
  margin-bottom: 2rem;
}

.sidebar .colors button,
.sidebar .colors .color-wheel {
  height: 2rem;
}

.sidebar .colors .active-color-indicator {
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.sidebar .colors .active-color-indicator-label {
  display: grid;
  place-content: center;
}

.sidebar .colors .color-wheel {
  width: 100%;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.sidebar .colors .color-wheel::-webkit-color-swatch {
  border-radius: 50%;
}

.sidebar .sizes {
  display: flex;
  flex-direction: column;
}
.sidebar .sizes select {
  margin-bottom: 0.5rem;
}

.sidebar .sizes > * {
  height: 2rem;
}

.canvas-container {
  width: 100%;
  height: 100%;
  display: grid;
}
.cell-row {
  display: grid;
}

.cell {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
